.popup__form{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 430px;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 590px){
  .popup__form{
    width: 282px;
    padding: 25px 22px 25px;
  }
}

