.profile__image{
  display: block;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.12s linear;
}

.profile__image:hover{
  opacity: .2;
}