.profile__info{
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  margin-left: 30px;
  grid-template-areas: 
    "name button"
    "description .";
}

@media screen and (max-width: 745px){
  .profile__info{
    grid-template-columns: 200px auto;
  }
}
@media screen and (max-width: 590px){
  .profile__info{
    grid-template-columns: 1fr 18px;
    margin-left: 0;
    margin-top: 26px;
    grid-column-gap: 10px;
    grid-row-gap: 9px;
    padding-left: 29px;
  }
}