.popup__item{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 9px;
}

.popup__item:last-of-type{
  margin-bottom: 0;
}
